<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>File-sizer microservice</title>
</head>
<body>

    <div class="header">
        <div class="left">
            <h1>FileSizer<h1>
        </div>
        <div class="right">
            Lewis Horwood for
            <a target='_blank' href='https://www.freecodecamp.com/challenges/file-metadata-microservice'>
               FreeCodeCamp
           </a><br>
           <a target='_blank' href='https://github.com/Lewis65/'>
                <i class='fa fa-lg fa-github'></i> github
            </a> &
            <a target='_blank' href='https://twitter.com/Lewiebot'>
                <i class='fa fa-lg fa-twitter'></i>@lewiebot
            </a>
        </div>
    </div><!--/header-->

    <div class="wrapper">

        <div class="form">
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="doc" placeholder="Upload a file..."/>
                <button formaction="/" formmethod="post">Submit</button>
            </form>
        </div>

        <div class="result">
            Your file is...
            <div id="sizes">
                <%- bytes %>
            </div>
        </div>

    </div><!--/wrapper-->

</body>
</html>
